#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
text
# Use CDROM installation media
# cdrom
# Keyboard layouts
keyboard --vckeymap=no --xlayouts='no'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$mzKWi/56afXgYjBr$6bbuZ2TAxjuIOlE1sYTAe8qv6rPYmHJ4lD6AmLlde3lTIRgv3uCQR4V8x8k2VSyLWG2tylFoXr1cBKQXa5aJy1
# X Window System configuration information
# xconfig  --startxonboot
skipx
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Oslo --isUtc --nontp

# Online repos
repo --name=base --baseurl=https://vault.centos.org/centos/$releasever/BaseOS/$basearch/os/
repo --name=appstream --baseurl=https://vault.centos.org/centos/$releasever/AppStream/$basearch/os/
repo --name=extras --baseurl=https://vault.centos.org/centos/$releasever/extras/$basearch/os/
repo --name=powertools --baseurl=https://vault.centos.org/centos/$releasever/PowerTools/$basearch/os/

%packages
#@^graphical-server-environment
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
